<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Book Recommendation Engine</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body class="pg">
<div class="page" id="app">
    <div id="searchPage" class=" mallist tmall- page-not-market ">
        <div id="header" class=" header-list-app">
            <div class="headerLayout">
                <div class="headerCon ">
                    <div class="header-extra">
                        <!-- search test -->
                        <div id="bookSearch" class="book-search">
                            <form name="searchTop" class="bookSearch-form clearfix">
                                <fieldset>
                                    <legend>book search</legend>
                                    <div class="bookSearch-input clearfix">
                                        <div class="s-combobox" id="s-combobox-685">
                                            <div class="s-combobox-input-wrap">
                                                <input v-model="keyword" type="text" autocomplete="off" id="mq"
                                                       class="s-combobox-input" aria-haspopup="true">
                                            </div>
                                        </div>
                                        <button type="submit" @click.prevent="searchKey" id="searchbtn">Search</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- copy from other resources -->
        <div id="testContent">

                <div class="view grid-nosku">
                    <div class="product" v-for="result in results">
                        <div class="product-iWrap">
                            &lt;!&ndash;Products cover&ndash;&gt;
                            <div class="productImg-wrap">
                                <a class="productImg">
                                    <img :src="result.img">
                                </a>
                            </div>
                            &lt;!&ndash;price&ndash;&gt;
                            <p class="productPrice">
                                <em v-text="result.price"></em>
                            </p>
                            &lt;!&ndash;headline-&gt;
                            <p class="productTitle">
                                <a v-html="result.name"></a>
                            </p>
                            &lt;!&ndash; shopname &ndash;&gt;
                            <div class="productShop">
                                <span v-text="result.shopnum"></span>
                            </div>
                            &lt;!&ndash; dealmessage &ndash;&gt;
                            <p class="productStatus">
                                <span>monthly deal<em>999</em></span>
                                <span>comments <a>3</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- vue and axios insert-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>
    new Vue({
        el: "#app",
        data: {
            "keyword": '', // keyword in search
            "results": [] // result from backend
        },
        methods: {
            searchKey() {
                var keyword = this.keyword;
                console.log(keyword);
                axios.get('search/' + keyword + '/1/10').then(response => {
                    console.log(response);
                    this.results = response.data; // test for putting results to frontend
                })
            }
        }
    });
</script>
</body>
</html>